[project]
	description = One of my first applications
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Robert (rmszala)
[access "refs/for/refs/*"]
	read = group user/Robert (rmszala)
	push = group user/Robert (rmszala)
	label-Code-Review = -2..+2 group user/Robert (rmszala)
	label-Verified = -1..+1 group user/Robert (rmszala)
	rebase = group user/Robert (rmszala)
	removeReviewer = group user/Robert (rmszala)
	submit = group user/Robert (rmszala)
[access "refs/heads/*"]
	read = group user/Robert (rmszala)
	create = group user/Robert (rmszala)
	push = +force group user/Robert (rmszala)
	pushMerge = group user/Robert (rmszala)
[access "refs/tags/*"]
	push = +force group user/Robert (rmszala)
	pushTag = group user/Robert (rmszala)
	pushSignedTag = group user/Robert (rmszala)
